* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    width: 100%;
    padding: 20px;
    height: 100vh;
}

main {
    width: min(1200px, 90%);
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
        "create social social schedule"
        "create manage maintain schedule"
        "write manage maintain schedule"
        "write faster grow grow"
        "write faster grow grow";
}

.card {
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    padding: 20px;
    min-width: 250px;
}

/* CREATE */
.create {
    grid-area: create;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    background-color: hsl(31, 66%, 93%);
}

.create-lead h2 {
    font-size: 2rem;
    font-weight: 500;
}

.create-img {
    display: flex;
    align-items: center;
}

.create-img img {
    margin: 0 auto;
    width: 80%;
}

/* SOCIAL */
.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: social;
    padding: 50px;
    background-color: hsl(256, 67%, 59%);
    color: white;
}

.social-lead {
    text-align: center;
}

.social-lead h2 {
    font-size: 3.5em;
    font-weight: 500;
}

.social-img {
    display: flex;
    justify-content: center;
}

.social-img img {
    width: 80%;
}

/* SCHEDULE */
.schedule {
    grid-area: schedule;
    background-color: hsl(254, 88%, 90%);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.schedule-lead h2 {
    font-weight: 400;
    font-size: 2rem;
}

.schedule-quote {
    position: absolute;
    top: 85%;
}

.schedule-img img {
    width: 150%;
    position: absolute;
    left: 50px;
    top: 20%;
}

/* MANAGE */
.manage {
    grid-area: manage;
    overflow: hidden;
}

.manage-lead {
    width: 90%;
}

.manage-lead h2 {
    font-size: 1.9rem;
    font-weight: 400;
}

.manage-img img {
    width: 140%;
}

/* MAINTAIN */
.maintain {
    position: relative;
    grid-area: maintain;
    overflow: hidden;
}

.maintain-lead h2 {
    font-weight: 400;
    font-size: 1.6rem;
}

.maintain-img img {
    position: absolute;
    width: 80%;
    top: 50%;
}

/* WRITE */
.write {
    grid-area: write;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: hsl(39, 100%, 71%);
    overflow: hidden;
    gap: 20px;
}

.write-lead h2 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1;
}

.write-img {
    display: flex;
    justify-content: center;
}

.write-img img {
    width: 90%;
}

/* FASTER */
.faster {
    grid-area: faster;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.faster-lead h2 {
    font-size: 4rem;
    font-weight: 400;
}

.faster-img {
    display: flex;
    justify-content: center;

}

.faster-img img {
    width:10em;
}

/* GROW */
.grow {
    grid-area: grow;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: hsl(256, 67%, 59%);
    color: white;
    gap: 20px;
}

.grow-lead h2 {
    font-size: 2.8rem;
    font-weight: 400;
}

.grow-img img {
    width: 100%;
}


@media (max-width: 600px) {

    body {
        padding: 20px 0px;
    }
    main {
        padding: 0px;
        margin: 0 auto;
        grid-template-columns: 100%;
        grid-template-rows: repeat(8, auto);
        grid-template-areas: 
        'social'
        'manage'
        'maintain'
        'schedule'
        'grow'
        'faster'
        'create'
        'write';
    }

    .card {
        width: 100%;
    }

    .manage {
        grid-area: manage;
        overflow: visible;
    }

    .manage-lead {
        width: 90%;
    }

    .manage-lead h2 {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .manage-img img {
        width: 100%;
    }

    .maintain {
        height: 100%;
        display: flex;
        flex-direction: column;
        grid-area: maintain;
        overflow: visible;
        gap: 20px;
        background-color: hsl(39, 100%, 71%);
    }

    .maintain-lead h2 {
        font-weight: 500;
        font-size: 1.8rem;
    }

    .maintain-img img {
        position: static;
        object-fit: cover;
        width: 60%;
    }

    .schedule {
        grid-area: schedule;
        background-color: hsl(254, 88%, 90%);
        position: relative;
        overflow: visible;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


    .schedule-lead h2 {
        text-align: center;
        font-weight: 500;
        font-size: 1.6rem;
    }

    .schedule-quote {
        position: static;
        display: flex;
    }

    .schedule-quote p {
        text-align: center;
        font-size: 1.3rem;
    }

    .schedule-img img {
        width: 100%;
        position: static;
        left: 50px;
        top: 20%;
    }

    .grow {
    grid-area: grow;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(256, 67%, 59%);
    color: white;
    gap: 30px;
    }

    .grow-lead h2 {
        text-align: center;
        font-size: 2.7rem;
        font-weight: 400;
    }

    .grow-img img {
        width: 70%;
    }

    .grow-img {
        display: flex;
        justify-content: center;
    }

    .faster {
    grid-area: faster;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    }

    .faster-lead h2 {
        font-size: 4rem;
        font-weight: 400;
    }

    .faster-lead p {
        font-size: 1.3rem;
    }

    .faster-img img {
        width:11em;
    }
}
